@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
    
}
 ::-webkit-scrollbar-track {
    background: transparent;
}
 
::-webkit-scrollbar-thumb {
    background-color: #3a4b56;
   
}
/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #555;
} */